{% extends 'base.html' %}

{% block title %}
    <title>Edit a Film</title>
    {% load crispy_forms_tags %}
    {% endblock %}

{% block content %}
    <div>
    {% if messages %}
        <ul>
            {% for msg in messages %}
                <li {% if msg.tags %} class="alert alert-{{ msg.tags }}"{% endif %}>{{ msg }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-md-7" style="margin-bottom:20px">
                <h2>Edit the film " {{ film.title }} "</h2><br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
	                {{ form|crispy }}
                    <input type="submit" value="Edit" class="btn btn-warning">
                </form>
            </div>
        </div>
    </div>
{% endblock %}